body {
    padding-top: 5rem;
}
div.images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    width: 70%;
   
    }
img.img{
    height: 10em;
    width: 10em;
}
ul{
    list-style-type: none;
}